<h2>Information of {{vm.hotel.name}} -- <hotel-rating stars="vm.stars"> </hotel-rating></h2> 
</br>
<p>{{vm.hotel.description}}</p>

<p>the hotel has the following services :</p>

<p>
	<ul>
		<li ng-repeat = "service in vm.hotel.services">{{service}}</li>
	</ul>
</p>
<p><h3>Reviews from clients : </h3>
<br>
<ul>
	<li ng-repeat = "review in vm.hotel.reviews">
		{{review.name}} says : {{review.review}} 
	</li>
</ul>
</p>
<p>Add your review....</p>
<form name="vm.reviewForm" class="form form-horozontal"  ng-submit="vm.addNewReview()">
	<div class="form-group">
		<label class = "col-md-1">Your Name</label>
		<input type="text" class = "input input-sm" ng-model="vm.name" required name="name" ng-minlength="2">
		<div ng-show="vm.reviewForm.$dirty && vm.reviewForm.name.$invalid && vm.isSubmitted">
			<p>Name Should be two character at least</p>
		</div>
	</div>
	<div class="form-group">
		<label class = "col-md-1">Your Rating</label>
		<input type="number" class = "input input-sm" ng-model="vm.rating" required name="rating" >
		<div ng-show="vm.reviewForm.$dirty && vm.reviewForm.rating.$invalid && vm.isSubmitted">
			<p>Rating Should be Number</p>
		</div>
	</div>
	<div class="form-group">
		<label class = "col-md-1">Your Review</label>
		<textarea class = "input input-sm" ng-model="vm.review" required name="review"></textarea>
	</div>
	<div class="form-group">
		
		<input type="submit" class = "btn btn-submit btn-sm" value="Give Review">
	</div>


</form>